export("linkage.check", "linkage.getresults", "linkage.post", "plot.linkage")
importFrom("httr","GET","POST","upload_file")
importFrom("jsonlite","fromJSON") 
importFrom("RColorBrewer","brewer.pal")
importFrom("sna","gplot")
importFrom("network","as.network","as.matrix.network.adjacency")
importFrom("grDevices", "palette")
importFrom("graphics", "plot","axis", "barplot", "image", "par", "text", "abline", "rect")
S3method("plot","linkage")
